{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^node:(.*)$",
    "^(react|react-dom)(/.*)?$",
    "^(svelte)(/.*)?$",
    "<THIRD_PARTY_MODULES>",
    "^@sheet-stack/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
